<img class="img-thumbnail center-block" alt="your image" src="<%=@sale_event.image.url%>">
<h2><%=@sale_event.title%></h2>
<h3><%=@sale_event.place%></h3>
<h3><%=@sale_event.event_date%></h3>
<a href="#">COMPRAR</a>
